- content_for(:head) do
  =stylesheet_link_tag 'marpa_courses', 'forms'
  =javascript_include_tag 'edit_course'
  /*- stylesheet_link_tag "javascripts/date-picker/css/datepicker.css"*/

  /*- javascript_include_tag 'jquery.jeditable.mini.js', {:media=>'all'} */
  /*- javascript_include_tag 'date-picker/js/datepicker.js', {:media=>'all'}*/
  /*- javascript_include_tag 'jquery.form.js', {:media=>'all'}*/
  /*- javascript_include_tag 'jquery.hydraMetadata.js', { :media=>'all'}  */
  /*- javascript_include_tag 'catalog/edit.js', {:media=>'all'}*/
  /*- javascript_include_tag'jquery.notice.js', {:media=>'all'}*/
  /*// For Fancybox*/
  /*- javascript_include_tag  'fancybox/jquery.fancybox-1.3.4.pack.js', {:media=>'all'}*/
  /*- stylesheet_link_tag  "javascripts/fancybox/jquery.fancybox-1.3.4.css"*/

  /*// For slider controls*/
  /*- javascript_include_tag 'select_to_ui_slider/selectToUISlider.jQuery.js', {:media=>'all'}*/
  /*- stylesheet_link_tag "javascripts/select_to_ui_slider/css/ui.slider.extras.css"*/
  /*- stylesheet_link_tag 'slider.css', {:media=>'all'}*/

  :javascript
    $(document).ready(function() {
      $(document).editCourse();
    });

.document_viewer#cover_container
  .multipleEdit
    #loading{:style=>"display:none;"}
      -image_tag "images/ajax-loader.gif", :width=>"32", :height=>"32", :alt=>"Saving..." 
    - if flash[:notice]
      .notice
        = flash[:notice]
    
    =form_for @document_fedora, :url=>asset_path(), :method=>"put", :html=>{:id => 'document_metadata'} do |f|
      .title-line
        = fedora_text_field(f.object, "descMetadata", [:title], :multiple=>false) 
        =link_to 'edit title', '#', {:id=>'edit-title'} 
      %fieldset.course-talks 
        Talks in this Course
        = render :partial => 'marpa_courses/talks'
      = render :partial => 'marpa_courses/edit_description', :locals=>{:f => f}
      = submit_tag

          


    %fieldset.permissions 
      Set permissions
      %span#permissions
        = render :partial => "permissions/index", :locals => {:document => document, :asset_id=>params[:id]}

    = delete_asset_link(params[:id], "course")

= #async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads')
