%dl
  %dt
    Title
  %dd
    = get_values_from_datastream(@document_fedora,"descMetadata", [:title]) 

  %dt
    Tibetan Title      
  %dd
    = get_values_from_datastream(@document_fedora,"descMetadata", [:tibetan_title])       

  %dt
    Dates of Teaching    
  %dd
    = get_values_from_datastream(@document_fedora,"descMetadata", [:date])  

  %dt
    Location 
  %dd
    = get_values_from_datastream(@document_fedora,"descMetadata", [:spatial])  

  %dt
    Teacher
  %dd 
    = get_values_from_datastream(@document_fedora,"descMetadata", [:creator])  

  %dt
    Commentary Author
  %dd
    = get_values_from_datastream(@document_fedora,"marpaCore", [:commentary_taught, :author])
  
  %dt
    Notes
  %dd
    = RedCloth.new(get_values_from_datastream(@document_fedora,"marpaCore", [:note]).first, [:sanitize_html]).to_html

  %dt
    Time
  %dd
    = get_values_from_datastream(@document_fedora,"marpaCore", [:digital_master, :duration])    

  %dt
    Topics
  %dd
    = get_values_from_datastream(@document_fedora,"descMetadata", [:subject], :multiple=>true)          


  %dt
    Languages
  %dd
    = get_values_from_datastream(@document_fedora,"descMetadata", [:language], :multiple=>true)                  
  
  
  %dt
    Translators
  %dd
    = get_values_from_datastream(@document_fedora,"descMetadata", [:contributor], :multiple=>true)     
