
<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"hydrangea_article")%>" method="post" data-resourceType="hydrangea_article" accept-charset="utf-8">

    <input id="content_type" type="hidden" name="content_type" value="hydrangea_article" />
    <h3><%= fedora_field_label("descMetadata", [:title_info, :main_title], "Title") %></h3>
    <div class="uvafield">
		<%= fedora_text_field(@document_fedora,"descMetadata", [:title_info, :main_title], :multiple=>false) %>
	</div>

	<h3><%= fedora_field_label("descMetadata", [:journal], "Publication Details") %>
	<%= render :partial=>"hydrangea_articles/edit_journal", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:journal) %>
	
	<h3><label label_for="Contributors">Contributors</label></h3>
    <ol id="contributors">
      <%= render :partial=>"contributors/edit_person", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:person) %>
      <%= render :partial=>"contributors/edit_organization", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:organization) %>
      <%= render :partial=>"contributors/edit_conference", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:conference) %>
    </ol>    
    <%# Button for adding person/conference/organization %>
    <% if params[:action] == "edit" %>
      <% format = document_partial_name(@document) %>
      <div id="add-contributor-box">
        <input id="re-run-add-contributor-action" type="button" value="Add a person" />
        <button id="select-contributor-type" type="button">Select type of contributor to add</button>
        <ul id="add-contributor-menu">
          <li id="add_person">Add a person</li>
          <li id="add_organization">Add an organization</li>
          <li id="add_conference">Add a conference</li>
        </ul>
      </div>
    <% end %>

  <h3><label label_for="Abstract">Abstract</label></h3>
  <div class="uvafield"><%= fedora_text_area(@document_fedora,"descMetadata", [:abstract], :multiple=>false) %></div>

<h3><label label_for="Keywords">Keywords</label></h3>
<div id="keywords" class="keywords">
	<dl>
		<dt>
			<%= fedora_text_field_insert_link "descMetadata", [:subject, :topic] %>
  		</dt>
  		<dd id="topic_tag" class="topic_tag">
    		<%= fedora_text_field(@document_fedora,"descMetadata", [:subject, :topic], :multiple=>true) %>
  		</dd>
	</dl>
</div>
<h2>License the Article</h2>
<ol>
	<li>
<div id="uvalicense" class="license">
	<dl>
	  <dt>
		<%= fedora_select(@document_fedora, "rightsMetadata", [:copyright, :uvalicense], :choices => %w(yes no)) %>
	  </dt>
	  <dd class="uvalicense">
		 	<label for="license">
		     I grant UVa rights to this work under the UVa Preservation License
		    </label>
			<br />
			To properly administer this repository and preserve the contents for future use,
		the University of Virginia (UVa) requires certain permissions from you, the
		author(s) or copyright owner. By accepting this license, you still retain copyright
		to your work. You do not give up the right to submit the work to publishers or
		other repositories.
	  </dd>
    </dl>	
</div>
</li>
<li>
<div id="cclicense" class="license">
	<dl>
	  <dt>
		<%= fedora_select(@document_fedora, "rightsMetadata", [:copyright, :cclicense], :choices => %w(yes no)) %> 
	  </dt>
	  <dd class="cclicense">
		<label for="license creative commons attribution">
		Creative Commons Attribution License
	</label>
	  </dd>
    </dl>	
</div>
</li>
</ol>
</form>

<div id="actions">
	<h2>Release the Article</h2>
<%#= render :partial => "permissions/index", :locals => {:document => @document_fedora, :asset_id=>params[:id]} %>

<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"hydrangea_article")%>" method="post" data-resourceType="hydrangea_article" accept-charset="utf-8">
  <input name="_method" type="hidden" value="put" />
	<div id="primary_action">  
  			<%= fedora_field_label("properties", [:release_to], "Release to") %>
  			<%= fedora_select(@document_fedora, "properties", [:release_to], :choices => {"Public" => "public", "UVa Only"=>"registered"})   %>    
			<!-- Careful! Submitting this hidden input will release the article.  -->
  			<%= tag(:input, :type=>"hidden", :name=>"asset[properties][released][0]", :value=>"true")%>
  </div>	
	<div id="secondary_action">  	
			<%= button_to 'Release this work for UVa Library Circulation', {:id => "release_button"} %>		
	</div>
</form>
	<div id="tertiary_action">
		<%= delete_asset_link(params[:id], "article") %>
	</div>
</div>

<%= render :partial => "shared/delete_asset_confirmation", :locals => {:pid => params[:id] } %>

