<tr class="document" class="<%= cycle("even","odd") %>">
  <td>
    <%= link_to_document(document, :label => :mods_0_title_info_0_main_title_t, :counter => (counter + 1 + @response.params[:start].to_i)) %>
  </td>
  <td>
    <% author = get_person_from_role(document, "author") %>
    <%= author.nil? ? "n/a" : [author[:last], author[:first]].join(", ") %>
  </td>
  <td>
    <%= document.get(:journal_title_info_main_title_t) %>
  </td>
  <td>
    <%= format_date(DateTime.parse(document.get(:system_create_dt)).to_time) %>
		<%= "by #{ document.get(:depositor_t) }" unless document.get(:depositor_t).blank? %> 
  </td>
  <td>
	  <%= get_file_asset_count(document) %>
  </td>
</tr>
