
<% unless get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :main_title]).first.empty? %>
      <h3><label label_for="Title"><%= fedora_field_label("descMetadata", [:title_info, :main_title], "Title") %></label></h3>
     <div class="uvafield"><%= get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :main_title]).first %>
	</div>
	 <% end %>

	 <% unless get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => 0}, :title_info, :main_title]).first.empty? %>
	<h3><label label_for="Publication">Publication Details</label></h3>
	    <%= render :partial=>"hydrangea_articles/show_journal", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:journal) %>
	<% end %>

<h3><label label_for="Contributors">Contributors</label></h3>
    <ol> 
      <%= render :partial=>"contributors/show_person", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:person) %>
      <%= render :partial=>"contributors/show_organization", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:organization) %>
      <%= render :partial=>"contributors/show_conference", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:conference) %>
    </ol>    


 <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:abstract]).first.empty? %>
 <h3><label label_for="Abstract">Abstract</label></h3>
  <div class="uvafield"><%= get_values_from_datastream(@document_fedora,"descMetadata", [:abstract]) %></div>
<% end %>


 <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:subject, :topic]).first.empty? %>
<h3><label label_for="Keywords">Keywords</label></h3>
<div id="keywords" class="keywords">
	<dl>
		<dt>
  		</dt>
  		<dd id="topic_tag" class="topic_tag">
			<ol><% get_values_from_datastream(@document_fedora,"descMetadata", [:subject, :topic]).each do |keyword| %>
				<li><%= keyword %></li>
			<% end %>
			</ol>
  		</dd>
	</dl>
</div>
<% end %>
