%input#content_type{:type=>"hidden", :name=>"content_type", :value=>"marpa_course"}
  =render :partial=>'talks'

  .control-group
    =label_tag 'creator', 'Teacher', :class=>'left-col'
    = f.text_field(:creator, :class=>"long")  
  .control-group
    =label_tag 'start_date', 'Start Date' , :class=>'left-col'
    = f.text_field(:start_date)  

  .control-group
    =label_tag 'end_date', 'End Date' , :class=>'left-col'
    = f.text_field(:end_date)  
  .control-group
    =f.label 'topics', 'Topics', :class=>'left-col'
    =select_tag 'program[topic_ids][]', options_from_collection_for_select(Topic.find(:all), "pid", "english_title", @program.topic_ids), :multiple=>true
    =link_to "manage topics", topics_path(:program=>@program.pid), {:id => 'manage-topics'}
  .control-group
    =f.label 'subject', 'Keywords', :class=>'left-col'
    =f.text_field 'subject', :class=>"long"
  .control-group
    =label_tag 'place',  'Location', :class=>'left-col'
    =f.select :place_id, options_from_collection_for_select(Place.find(:all, :rows=>1000), "pid", "name", @program.place_id), { :include_blank => true }
    =link_to "manage locations", places_path(:program=>@program.pid), {:id => 'manage-locations'}

  .control-group
    =label_tag 'language',  'Language(s)', :class=>'control-label'
    = f.fields_for :language do |languages|
      .controls
        %label.checkbox
          = languages.check_box 'tib', :checked=>@program.language.include?('tib')
          Tibetan
        %label.checkbox
          = languages.check_box 'eng', :checked=>@program.language.include?('eng')
          English
        %label.checkbox
          = languages.check_box 'chi', :checked=>@program.language.include?('chi')
          Chinese
        %label.checkbox
          = languages.check_box 'ger', :checked=>@program.language.include?('ger')
          German
        %label.checkbox
          = languages.check_box 'fre', :checked=>@program.language.include?('fre')
          French
        %label.checkbox
          = languages.check_box 'spa', :checked=>@program.language.include?('spa')
          Spanish



  .control-group
    =label_tag 'translator',  'Translator(s)', :class=>'left-col'
    =f.select :translator_id, options_from_collection_for_select(Translator.find(:all, :rows=>1000), "pid", "tibetan_name", @program.translator_id), { :include_blank => true }
    =link_to "manage translators", translators_path(:program=>@program.pid), {:id => 'manage-translators'}
  %fieldset
    %legend
      Texts
    %table.associated-texts
      %thead
        %tr
          %th
            Title
          %th
            Author
          %th
          %th
            Root/Commentary
          %th
            Chapter
          %th
            Section(s)
          %th
            Page(s)
      %tbody
        =render :partial=>"nested_texts"
    %div.addline
      =select_tag 'text_id', options_from_collection_for_select(::Text.find(:all, :rows=>1000), "pid", "english_title"), { :include_blank => true }
      =tag 'input', :type=>'button', :value=>"Associate Text", "data-path"=> add_program_text_program_path(@program), "data-field"=>'text_id'
      =#link_to "create a text", texts_path(:program=>@program.pid), :method=>'post'
      =link_to "manage texts", texts_path(:program=>@program.pid), {:id => 'manage-texts'}
        

  .control-group
    =f.label 'note', 'Notes/Annotations', :class=>'left-col'
    =f.text_area 'note', :class=>"fullsize"
  .control-group
    =f.label 'accession_note', 'Cassette Collection', :class=>'left-col'
    =f.text_field 'accession_note', :class=>"long"
  .control-group
    =f.label 'workflow_note', 'Next Steps', :class=>'left-col'
    =f.text_area 'workflow_note', :class=>"fullsize"
