%input#content_type{:type=>"hidden", :name=>"content_type", :value=>"marpa_course"}
%ul.form-fields
  /*%li*/
  /*  =label_tag 'tibetian_title',  'Tibetan Title' */

  %li
    =label_tag 'creator', 'Teacher', :class=>'left-col'
    = f.text_field(:creator, :class=>"long")  
  %li.start_date
    =label_tag 'start_date', 'Start Date' , :class=>'left-col'
    = f.text_field(:start_date)  

  %li.end_date
    =label_tag 'end_date', 'End Date' , :class=>'left-col'
    = f.text_field(:end_date)  
  %li.topics
    =f.label 'topics', 'Topics', :class=>'left-col'
    =select_tag 'program[topic_ids][]', options_from_collection_for_select(Topic.find(:all), "pid", "english_title", @program.topic_ids), :multiple=>true
    =link_to "add a topic", topics_path(:program=>@program), :method=>'post'
  %li
    =f.label 'subject', 'Keywords', :class=>'left-col'
    =f.text_field 'subject', :class=>"long"
  %li
    =label_tag 'place',  'Location', :class=>'left-col'
    =f.select :place_id, options_from_collection_for_select(Place.find(:all, :rows=>1000), "pid", "name", @program.place_id), { :include_blank => true }
    =link_to "add a location", new_place_path(:program=>@program.pid), {:id => 'add-location', :class=>'addval'}

  %li
    =label_tag 'language',  'Language(s)', :class=>'left-col'
    = f.fields_for :language do |languages|
      .checkbox-group
        = languages.check_box 'tib', :checked=>@program.language.include?('tib')
        = label_tag 'language_tib', "Tibetan"
        %br
        = languages.check_box 'eng', :checked=>@program.language.include?('eng')
        = label_tag 'language_eng', "English"
        %br
        = languages.check_box 'chi', :checked=>@program.language.include?('chi')
        = label_tag 'language_chi', "Chinese"
        %br
        = languages.check_box 'ger', :checked=>@program.language.include?('ger')
        = label_tag 'language_ger', "German"
        %br
        = languages.check_box 'fre', :checked=>@program.language.include?('fre')
        = label_tag 'language_fre', "French"
        %br
        = languages.check_box 'spa', :checked=>@program.language.include?('spa')
        = label_tag 'language_fre', "Spanish"



  %li
    =label_tag 'translator',  'Translator(s)', :class=>'left-col'
    =f.select :translator_id, options_from_collection_for_select(Translator.find(:all, :rows=>1000), "pid", "tibetan_name", @program.translator_id), { :include_blank => true }
    =link_to "add a translator", new_translator_path(:program=>@program.pid), {:id => 'add-translator', :class=>'addval'}
  %li
    .fieldset
      .legend
        Texts
      %table.associated-texts
        %thead
          %tr
            %th
              Title
            %th
              Author
            %th
            %th
              Root/Commentary
            %th
              Chapter
            %th
              Section(s)
            %th
              Page(s)
        %tbody
          =render :partial=>"nested_texts"
      %div.addline
        =select_tag 'text_id', options_from_collection_for_select(::Text.find(:all, :rows=>1000), "pid", "english_title"), { :include_blank => true }
        =tag 'input', :type=>'button', :value=>"Associate Text", "data-path"=> add_program_text_program_path(@program), "data-field"=>'text_id'
        =link_to "create a text", texts_path(:program=>@program.pid), :method=>'post'
  %li.note
    =f.label 'note', 'Notes/Annotations'
    =f.text_area 'note', :class=>"fullsize"

