- @page_title = application_name + " #{@program.title}"
- content_for(:head) do
  =stylesheet_link_tag 'forms'
  :javascript
    $(document).ready(function() {
      $(document).editProgram();
    });

#cover_container
  - if flash[:notice]
    .notice
      = flash[:notice]
  - if flash[:error]
    .error
      = flash[:error]
  
  =form_for @program, :html=>{:id => 'document_metadata'} do |f|
    %fieldset
      %legend Program:
      .control-group
        =f.label 'title', 'Title'
        = f.text_field(:title) 
        =link_to 'edit title', '#', {:id=>'edit-title'} 
    
      = render :partial => 'programs/edit_description', :locals=>{:f => f}
    %fieldset.permissions 
      %legend Set permissions
      %span#permissions
        = render :partial => "permissions/index", :locals => {:document => @program, :asset_id=>params[:id]}
    .form-actions 
      = submit_tag
      = delete_asset_link(params[:id], "program")




