- content_for(:head) do
  =stylesheet_link_tag 'application', 'programs', 'forms'
  =csrf_meta_tag
  =javascript_include_tag :defaults
  =javascript_include_tag 'edit_program'
  /*- stylesheet_link_tag "javascripts/date-picker/css/datepicker.css"*/

  /*- javascript_include_tag 'jquery.jeditable.mini.js', {:media=>'all'} */
  /*- javascript_include_tag 'date-picker/js/datepicker.js', {:media=>'all'}*/
  /*- javascript_include_tag 'jquery.form.js', {:media=>'all'}*/
  /*- javascript_include_tag 'jquery.hydraMetadata.js', { :media=>'all'}  */
  /*- javascript_include_tag 'catalog/edit.js', {:media=>'all'}*/
  /*- javascript_include_tag'jquery.notice.js', {:media=>'all'}*/
  /*// For Fancybox*/
  /*- javascript_include_tag  'fancybox/jquery.fancybox-1.3.4.pack.js', {:media=>'all'}*/
  /*- stylesheet_link_tag  "javascripts/fancybox/jquery.fancybox-1.3.4.css"*/

  /*// For slider controls*/
  /*- javascript_include_tag 'select_to_ui_slider/selectToUISlider.jQuery.js', {:media=>'all'}*/
  /*- stylesheet_link_tag "javascripts/select_to_ui_slider/css/ui.slider.extras.css"*/
  /*- stylesheet_link_tag 'slider.css', {:media=>'all'}*/

  :javascript
    $(document).ready(function() {
      $(document).editProgram();
    });

.document_viewer#cover_container.clearfix
  .multipleEdit
    #loading{:style=>"display:none;"}
      -image_tag "images/ajax-loader.gif", :width=>"32", :height=>"32", :alt=>"Saving..." 
    - if flash[:notice]
      .notice
        = flash[:notice]
    
    =form_for @program, :html=>{:id => 'document_metadata'} do |f|
      .title-line
        #title-container
          %h1#title-text=@program.title
          = f.text_field(:title) 
          =link_to 'edit title', '#', {:id=>'edit-title'} 
      %fieldset.course-talks 
        Talks in this Program
        = render :partial => 'programs/talks'
        = link_to "Add a Talk", talks_path(:program=>@program), :method=>:post
      = render :partial => 'programs/edit_description', :locals=>{:f => f}
      = submit_tag

          


    %fieldset.permissions 
      Set permissions
      %span#permissions
        = render :partial => "permissions/index", :locals => {:document => @program, :asset_id=>params[:id]}

    = delete_asset_link(params[:id], "program")

= #async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads')
