%input#content_type{:type=>"hidden", :name=>"content_type", :value=>"marpa_course"}
%ul.form-fields
  /*%li*/
  /*  =label_tag 'tibetian_title',  'Tibetan Title' */

  %li
    =label_tag 'creator', 'Teacher', :class=>'left-col'
    = f.text_field(:creator)  
  %li.start_date
    =label_tag 'start_date', 'Start Date' , :class=>'left-col'
    = f.text_field(:start_date)  

  %li.end_date
    =label_tag 'end_date', 'End Date' , :class=>'left-col'
    = f.text_field(:end_date)  

  %li
    =label_tag 'place',  'Location', :class=>'left-col'
    =f.select :place_id, options_from_collection_for_select(Place.find(:all), "pid", "name", @program.place_id)
    =link_to "add a location", new_place_path(:program=>@program.pid), {:id => 'add-location', :class=>'addval'}

  %li
    =label_tag 'language',  'Language(s)', :class=>'left-col'
    = f.fields_for :language do |languages|
      .checkbox-group
        = languages.check_box 'chi', :checked=>@program.language.include?('chi')
        = label_tag 'language_chi', "Chinese"
        %br
        = languages.check_box 'eng', :checked=>@program.language.include?('eng')
        = label_tag 'language_eng', "English"
        %br
        = languages.check_box 'fre', :checked=>@program.language.include?('fre')
        = label_tag 'language_fre', "French"
        %br
        = languages.check_box 'ger', :checked=>@program.language.include?('ger')
        = label_tag 'language_ger', "German"
        %br
        = languages.check_box 'tib', :checked=>@program.language.include?('tib')
        = label_tag 'language_tib', "Tibetan"


  %li
    =label_tag 'contributor',  'Translator(s)', :class=>'left-col'
    =select_tag 'contributor', options_from_collection_for_select(Translator.find(:all), "pid", "tibetan_name")
    =#label_tag 'contributor',  'Translators'
    =link_to "add a translator", new_translator_path(:program=>@program.pid), {:id => 'add-translator', :class=>'addval'}
  %li
    .label
      Texts
    %table.associated-texts
      %thead
        %tr
          %th
            Title
          %th
            Author
          %th
          %th
            Root/Commentary
          %th
            Chapter
          %th
            Section(s)
          %th
            Page(s)
      %tbody
        =render :partial=>"nested_texts"
    %div.addline
      =select_tag 'text_id', options_from_collection_for_select(::Text.find(:all), "pid", "english_title")
      =tag 'input', :type=>'button', :value=>"Add", "data-path"=> add_program_text_program_path(@program), "data-field"=>'text_id'
      =link_to "create a text", texts_path(:program=>@program), :method=>'post'
