<div id="delete_dialog_container" style="display:none;">
	<div id="delete_dialog">
    <%= form_tag(url_for(:action => "destroy", :controller => "assets", :id => pid, :method => "delete")) %>
      <h4>Permanently delete <%= title %> from the repository?
      <%= hidden_field_tag("_method", "delete") %>
      <div>
        <%= button_to_function("No", "$('div#delete_dialog_container').fadeOut();"); %>
      </div>
      <div>
        <%= submit_tag("Yes") %>
      </div>
      </h4>
    </form>
  </div>
</div>
