<%-content_for(:head) do %>
  <%=stylesheet_link_tag 'application' %>
<% end %>
<div id="search" class="search">
  <%= form_tag catalog_index_path, :method => :get do %>
    <%= text_field_tag :q, params[:q], :class => "q"  %>
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt]) %>        
    <%= image_submit_tag('search_button.png', :plugin=>"hydra-head", :id => "submit", :alt=>"Search") %>
  <% end %>
</div>
