!!!
%head
  =stylesheet_link_tag 'application', params[:controller]
  =csrf_meta_tag
  =javascript_include_tag :defaults
  = stylesheet_link_tag 'utils'
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
  %link{:href=>'http://fonts.googleapis.com/css?family=Questrial', :rel=>'stylesheet', :type=>'text/css'}
  = yield :head
  :javascript
    $(function(){
      $('ul.utils').css('top', ($(document).height() - 50) + 'px');
      $('#q').focus();
    });
%body
  = render :partial=>'/user_util_links'
  = yield
