<!-- 
This is an exact copy of the Blacklight application.html.erb with one modification: the footer includes "Powered by Hydra"
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    
    <%= render_head_content %>
    <%= stylesheet_link_tag('marpa/styles') %>
	<!--[if IE]>
    <%= stylesheet_link_tag('marps/ie-styles') %>
	<![endif]-->
  </head>
  
    <body <% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %> onload="$('input#q').focus();"<% end %>>
	  <div id="doc4" class="yui-t2">
	    
	    <div id="hd">
        <div class="yui-g">
		  <div id="container2">
			<%= link_to application_name, root_path %>
			<%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>" : "" %>
		  </div>
	
          <div class="yui-u">
            <%= render :partial=>'/user_util_links' %>
          </div>
        </div>
      </div>
	    
	    <div id="bd">

      	<div id="yui-main">
           <%= render :partial=>'/flash_msg' %>
        	<div class="sidebar"><%= sidebar_items.join('') %></div>	
           <%= yield %>
        </div>
         
	    </div>
	    
	  </div>
		<div id="footer">
			<div id="container3"></div>
		</div>	
  </body>
  
</html>
