!!!
%head
  =stylesheet_link_tag 'application', params[:controller]
  =csrf_meta_tag
  =javascript_include_tag 'application'
  = stylesheet_link_tag 'utils'
  %title= h(@page_title || application_name) 
  %link{:href=>'http://fonts.googleapis.com/css?family=Questrial', :rel=>'stylesheet', :type=>'text/css'}
  = yield :head
  :javascript
    $(function(){
      $('#q').focus();
    });
%body
  .header
    .logo
    = render :partial=>'/user_util_links'
  .content.clearfix
    = render :partial => '/flash_msg'
    = yield
  .footer
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. 
